@model App.Models.Memberships.Membership
@using App.Menu
@inject AdminSidebarService _AdminSidebarService
@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Cập nhật gói tập";
}

<div class="container-fluid">
    <h1 class="mt-4">Cập nhật gói tập</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="AdminCP" asp-area="AdminCP">Trang chủ</a></li>
        <li class="breadcrumb-item active">Cập nhật gói tập</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <a class="btn btn-success" asp-action="Index">Danh sách gói tập</a>
        </div>

        <div class="card-body">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="MembershipId" />        

                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <input asp-for="Level" class="form-control" />
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fee" class="control-label"></label>
                        <input asp-for="Fee" class="form-control">
                        <span asp-validation-for="Fee" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hours" class="control-label"></label>
                        <input asp-for="Hours" class="form-control" />
                        <span asp-validation-for="Hours" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="Bonus" class="control-label"></label>
                        <textarea asp-for="Bonus" class="form-control"></textarea>
                        <span asp-validation-for="Bonus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Cập nhật" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@{
    _AdminSidebarService.SetActive("Membership", "Edit", "Membership");
}
@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}