@*@model ChangePasswordViewModel*@
@{
    ViewData["Title"] = "Đổi mật khẩu";
}

@*<h1>@ViewData["Title"].</h1>*@

@*<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">
    <h4>Nhập thông tin để đổi mật khẩu</h4>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-10 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-10 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
*@
@*<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal" role="form">*@
    <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
        <h3 class="mb-4">Đặt lại mặt khẩu</h3>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group account-deatil">
                    <label @*asp-for="OldPassword"*@ >Mật khẩu cũ</label>
                    <input id="oldPassword" class="form-control">
                    <span @*asp-validation-for="OldPassword"*@ class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group account-deatil">
                    <label @*asp-for="NewPassword"*@>Mật khẩu mới</label>
                    <input  id="newPassword" class="form-control">
                    <span  class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group account-deatil">
                    <label @*asp-for="ConfirmPassword"*@>Xác nhận mật khẩu</label>
                    <input @*asp-for="ConfirmPassword"*@ id="confirmPassword" class="form-control">
                    <span @*asp-validation-for="ConfirmPassword"*@ class="text-danger"></span>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary account-details" id="btn-submit">Đặt lại</button>
            <button class="btn btn-light account-details" id="btn-cancel">Hủy</button>
        </div>
    </div>
@*</form>*@

